
    body{
      background-color:#fff8dc;/*ページの背景色*/
      color:#333333;/*文字色*/
      font-family: Arial,sans-serif;/*フォント*/

      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container{
      text-align: center;
    }
    .gallery{
      display: flex;
      gap: 10px; /*画像の間の隙間*/
      justify-content: center; /*真ん中に寄せる*/
      flex-wrap: wrap; /*画面狭いと折り返す*/
    }
    h1{
      color: #ff4500;/*見出しの色*/
      font-size: 32px;
    }
    h2{
      color: #008080;
    }
    h3{
      color: #006400;
    }
    a{
      color: #0000ff; /*リンク色*/
      text-decoration: none; /*下線消す*/
    }
    a:hover{
      text-decoration: underline; /*マウスオーバーで下線*/
    }

    .intro{
      background-color: #ffffcc;
      padding: 10px;
      border-radius: 5px;
    }
    
    p{
      margin: 10px 0;/*上下10pxだけ余白*/
      font-size: 18px; /*少し大きく*/
    }
    
    h2{
      font-size: 24px;
    }
    
    img{
      border-radius: 10px;
    }

    ul{
      list-style: none;
      padding: 0;
    }

    li{
      background: #ffffff;
      margin: 5px 0;
      padding:10px;
      border-radius: 5px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    li button{
      background: #ff4d4d;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    li button:hover{
      background: #cc0000;
    }
